.info2 {
  margin-bottom: 5.6rem;

  &__right {
    width: 50%;

    @media (max-width:$md3+px) {
      display: none;
    }

    img {
      max-width: 100%;
      transform: translateX(9.5rem);

      @media (max-width:$md3+px) {
        width: 0;
      }
    }
  }

  &__left {
    width: 50%;

    @media (max-width:$md3+px) {
      width: 100%;
    }

    &-title {
      @include h3;
      font-weight: 700;
      color: $black1;
      margin-bottom: 2.3rem;

      @media (max-width:$md3+px) {
        @include medium;
        font-weight: 600;
        margin-bottom: 1.6rem;
      }

    }

    p {
      max-width: 63rem;
      @include normal;
      color: $grey1;

      @media (max-width:$md3+px) {
        @include mobileSmall;

      }
    }

    .text__container {
      color: $grey1;
      align-items: center;
      margin-top: 2.4rem;

      @media (max-width:$md3+px) {
        margin-top: 1.63rem;
      }

      >h6 {
        @include h6;
        font-weight: 600;
        margin-bottom: 1rem;

        @media (max-width:$md3+px) {
          @include small;
          font-weight: bold;
          margin: 0;
        }
      }

      >p {
        @include small;
        line-height: 2.4rem;

        @media (max-width:$md3+px) {
          @include mobileSmall;

        }
      }

      p:first-child {
        @include medium;
        font-weight: 600;
      }
    }

  }

}

.info2-mobile__image {
  display: none;
  margin-bottom: 2.4rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width:$md3+px) {
    display: block;
  }
}