/* Base */

@import './base/reset';
@import './base/variables';
@import './base/mixin';

@font-face {
    font-family: 'MontserratAlt-Bold';
    src: url('../fonts/MontserratAlternates-Bold.ttf');
}

@font-face {
    font-family: 'MontserratAlt-Medium';
    src: url('../fonts/MontserratAlternates-Medium.ttf');
}

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    font-size: 1.4rem;
    color: white;
    font-family: 'MontserratAlt-Medium';
    overflow-y: scroll;
    overflow-x: hidden;
}

*,
*:after,
*:before {
    box-sizing: border-box;

}


/* Blocks */
@import './page.scss';
@import './base/flexbox.scss';
@import './blocks/header/header.scss';
@import './blocks/header/header__nav.scss';
@import './blocks/header/header__form.scss';
@import './blocks/header/header__subnav.scss';
@import './blocks/main/section__products/products.scss';
@import './blocks/main/section__greetings/greetings.scss';
@import './blocks/main/section__greetings/greetings__header.scss';
@import './blocks/main/section__greetings/greetings__main.scss';
@import './blocks/main/section__greetings/greetings__text.scss';
@import './blocks/main/section__greetings/greetings__footer.scss';
@import './blocks/main/section__info/info.scss';
@import './blocks/main/section__info/info__parallax.scss';
@import './blocks/main/section__info/info__header.scss';
@import './blocks/main/section__info/info__content.scss';
@import './blocks/main/section__info/content__element.scss';
@import './blocks/main/section__info/text__container.scss';
@import './blocks/footer/footer.scss';
@import './blocks/footer/footer__element.scss';
@import './blocks/footer/footer__socialLinks.scss';

/* Elements */
// @import './elements/main__menu.scss';
@import './elements/button-search.scss';
@import './elements/link-profile.scss';
@import './elements/link-heart.scss';
@import './elements/link-store.scss';
@import './elements/catalog__nav.scss';
@import './elements/product-element.scss';
@import './elements/product-button.scss';
@import './elements/product-link.scss';
@import './elements/greetings-link.scss';
@import './elements/greetings__linkArrow.scss';
@import './elements/footer__list.scss';



