.greetings__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $primary;
  justify-content: space-between;
  padding:2rem 4rem 2rem 9.6rem;

  p {
    @include large;
    font-weight: 500;
    padding-top: 1.2rem;
  }
}