.greetings {
  background-color: $primary;

  &__container {
    padding: 6.4rem 0;
    .greetings__content {
      h3 {
        @include h3;
        font-weight: 700;
        margin-bottom: 1.2rem;
      }

      h5 {
        @include h5;
        font-weight: 500;
        line-height: 3.6rem;
      }

    }

  }

  &__link {
    margin-top: 3.2rem;

  }

  &__footer {
    margin-top: 3.2rem;
    justify-content: center;
  }

  &__button {
    @extend .product-link;
  }
}