//FONTS

//HEADING
@mixin h1($size : 5.6rem, $height : 6.16rem) {
  font-size: $size;
  line-height: $height;
}

@mixin h2($size : 48px, $height : 52.8px) {
  font-size: $size;
  line-height: $height;
}

@mixin h3($size : 40px, $height : 44px) {
  font-size: $size;
  line-height: $height;
}

@mixin h4($size : 32px, $height : 35.2px) {
  font-size: $size;
  line-height: $height;
}

@mixin h5($size : 24px, $height : 26.4px) {
  font-size: $size;
  line-height: $height;
}

@mixin h6($size : 20px, $height : 22px) {
  font-size: $size;
  line-height: $height;
}

//HEADING

//TEXTS
@mixin large($size : 20px, $height : 28px) {
  font-size: $size;
  line-height: $height;
}

@mixin medium($size : 18px, $height : 25.2px) {
  font-size: $size;
  line-height: $height;
}

@mixin normal($size : 16px, $height : 22.4px) {
  font-size: $size;
  line-height: $height;
}

@mixin small($size : 14px, $height : 19.6px) {
  font-size: $size;
  line-height: $height;
}

@mixin mobileSmall($size: 12px, $height : 18px) {
  font-size: $size;
  line-height: $height;
}

//TEXTS

//FONTS

/* After */
@mixin elementAfter($content, $bgColor) {
  content: $content;
  background-color: $bgColor;
}

/* After */



/* Buttons */

@mixin littleButton() {
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  border: none;
  padding: 0;
}