/* Colors */
$primary : #888440;
$secondary : #F2994A;

//state colors
$success : #888440;
$warning : #ECB354;
$error : #D75F39;

//black and white colors

$black1 : #000000;
$black2 : #1D1D1D;
$black3 : #282828;
$white : #FFFFFF;

//grey colors

$grey1 : #333333;
$grey2 : #4F4F4F;
$grey3 : #828282;
$grey4 : #BDBDBD;
$grey5 : #E0E0E0;
/* Colors */


/* Padding */

$containerPadding : 0 9.6rem;

/* Container */

$maxWidth:144rem;
$minWidth:32rem;
$maxWidthContainer : 124.8rem;
$md1 : $maxWidthContainer + 12;
$md2 : 991.98;
$md3 : 767.98;
$md4 : 479.98;