<footer class="footer">
  <div class="footer__container _container">
    <div class="footer__content flexbox">
      <div class="footer__element">
        <img src="./assets/images/whiteLOGO.svg" alt="" />
        <div class="footer__workTime">
          <p>Графік роботи</p>
          <p>Пн-Пт: 10:00-20:00</p>
          <p>Сб-Нд: 10:00-18:00</p>
        </div>
      </div>
      <div class="footer__element">
        <div class="footer__element-header mobile-subnav__category flexbox">
          <button class="btn-category">Найпопулярніші категорії</button>
          <button class="mobile-arrow arrow-category"></button>
        </div>
        <div class="category-list">
          <ul class="footer__list">
            <li><a href="">Косметика для обличчя</a></li>
            <li><a href="">Косметика для тіла</a></li>
            <li><a href="">Вікова косметика (45+)</a></li>
            <li><a href="">Сонцезахисна косметика та репіленти</a></li>
            <li><a href="">Косметика для волосся</a></li>
            <li><a href="">Комплексний догляд</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__element">
        <div class="footer__element-header mobile-subnav__info flexbox">
          <button class="btn-info">Інформації</button>
          <button class="mobile-arrow arrow-info"></button>
        </div>
        <div class="info-list">
          <ul class="footer__list">
            <li><a href="">Про нас</a></li>
            <li><a href="">Доставка та оплата</a></li>
            <li><a href="">Блог</a></li>
            <li><a href="">Відгуки</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Консультація косметолога</a></li>
            <li><a href="">Тест на тип шкіри</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__element">
        <img src="./assets/images/whiteLOGO.svg" alt="" />
        <div class="footer__workTime">
          <p>Графік роботи</p>
          <p>Пн-Пт: 10:00-20:00</p>
          <p>Сб-Нд: 10:00-18:00</p>
        </div>
      </div>
      <div class="footer__element">
        <p>Контакти</p>
        <ul class="footer__list">
          <ul>
            <li><a href="">+38 (067) 210 08 81</a></li>
            <li><a href="">+38 (097) 077 84 94</a></li>
          </ul>
          <ul>
            <li>м. Львів,</li>
            <li>вул. Куліша, 34</li>
            <li>вул. Зелена, 19</li>
          </ul>
        </ul>
        <div class="flexbox footer__socialLinks">
          <div class="flexbox footer__link footer__link_instagram">
            <a href=""></a>
          </div>
          <div class="flexbox footer__link footer__link_facebook">
            <a href=""></a>
          </div>
          <div class="flexbox footer__link footer__link_youtube">
            <a href=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer__content-->
</footer>
