<header class="header">
  <div class="header__content flexbox _container">
    <div class="header__content-logo">
      <img src="./assets/images/LOGO.svg" alt="" />
    </div>
    <nav class="header__content-nav">
      <ul class="flexbox header__content-menu">
        <li><a href="" id="catalog">Каталог</a></li>
        <li><a href="">Про нас</a></li>
        <li><a href="">Відгуки</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">ua</a></li>
      </ul>
    </nav>
    <form action="/" class="flexbox header__content-form">
      <button class="header__button button-search"></button>
      <div class="header__link link-profile"><a href=""></a></div>
      <div class="header__link link-heart"><a href=""></a></div>
      <div class="header__link link-store"><a href=""></a></div>
    </form>
    <div class="subnav__container">
      <nav class="header__subnav catalog-subnav flexbox">
        <ul class="catalog-subnav__menu">
          <li class="catalog-subnav__item">
            <a href="">Косметика для обличчя</a>
          </li>
          <li class="catalog-subnav__item">
            <a href="">Косметика для тіла</a>
          </li>
          <li class="catalog-subnav__item">
            <a href="">Косметика для волосся</a>
          </li>
        </ul>
        <ul class="catalog-subnav__menu">
          <li class="catalog-subnav__item">
            <a href="">Вікова косметика (45+)</a>
          </li>
          <li class="catalog-subnav__item">
            <a href="">Комплексний догляд</a>
          </li>
          <li class="catalog-subnav__item">
            <a href="">Сонцезахисна косметика</a>
          </li>
        </ul>
        <ul class="catalog-subnav__menu">
          <li class="catalog-subnav__item"><a href="">Аксесуари</a></li>
          <li class="catalog-subnav__item">
            <a href="">Подарнункові сертифікати</a>
          </li>
        </ul>
      </nav>
    </div>
    <!--subnav__container-->
  </div>
  <!--header__content-->
</header>
