.footer__element {
  width: 25%;

  >img {
    margin-bottom: 8.8rem;
  }

  .footer__workTime {
    p {
      @include small;
    }

    p:first-child {
      @include medium;
      font-weight: 600;
      color: $white;
      margin-bottom: 1.6rem;
    }
  }

  >p {
    @include medium;
    font-weight: 600;
    color: $white;
    margin-bottom: 1.6rem;
  }
}

.footer__element:nth-child(3) {
  padding-left: 10rem;
}

.footer__element:last-child {
  padding-left: 15rem;

  ul {
    li:nth-child(2) {
      margin-bottom: 1.6rem;
    }
  }
}