.footer__element {

  >img {
    margin-bottom: 8.8rem;
  }

  .footer__workTime {
    p {
      @include small;
    }

    p:first-child {
      @include medium;
      font-weight: 600;
      color: $white;
      margin-bottom: 1.6rem;
    }
  }

  >p {
    @include medium;
    font-weight: 600;
    color: $white;
    margin-bottom: 1.6rem;
  }
}

.footer__element:last-child {

  ul {
    li:nth-child(2) {
      margin-bottom: 1.6rem;
    }
  }
}