header {
  position: relative;

}


.header__content {
  height: 9.6rem;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (max-width:$md3+px) {
    padding: 0 2.4rem 0 7.2rem;
    height: 7.2rem;
  }

  &-logo {
    padding: 2.6rem 0;
    margin-right: 13rem;

    @media (max-width:$md3+px) {
      padding: 2.4rem 0;
      margin: 0;

      img {
        height: 2.4rem;
        width: 4.5rem;
      }
    }
  }

  .header-lang {
    @include littleButton;
    margin-right: 23.1rem;
    @include medium;
    color: $grey1;
    font-family: inherit;

    &:hover {
      color: $success;
    }

    @media (max-width:$md3+px) {
      display: none;
    }
  }

  &-form {
    padding: 3.5rem 0;

    @media (max-width:$md3+px) {
      padding: 2.4rem 0;
    }
  }
}