header{
  position: relative;
}

.header__content {
  height: 9.6rem;
  justify-content: space-between;

  &-logo {
    padding: 2.6rem 0;
    margin-right: 13rem;
  }

  &-form {
    padding: 3.5rem 0;
  }
}