.header__content-nav {
  margin-right: 23.1rem;

  .header__content-menu {
    li {
      padding: 3.4rem 0rem;

      a {
        @include medium;
        text-decoration: none;
        color: $grey1;
      }

      >a:hover {
        color: $success;

      }

      border-bottom: 4px solid transparent;
    }

    li:not(:last-child) {
      margin-right: 7.2rem;
    }
  }
}