.header__content-form {
  align-items: center;

  .header__button {
    margin-right: 7.2rem;
  }

  .header__link {
    cursor: pointer;
    >a {
      height: 100%;
      display: inline-block;
    }
  }

  .header__link:nth-child(3) {
    margin: 0 1.2rem;
  }
}