.mobile-menu {
  max-height:0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  top: 7.2rem;
  background-color: $white;
  z-index: 999;
  transition: max-height 1s ease;

  @media (max-width:$md3+px) {
    display: block;
  }

  &__search {
    padding: 2.4rem;
    background-color: rgba($success, 0.5);
    position: relative;

    .input-search {
      width: 100%;
      border: 0;
      border-bottom: 1px solid $white;
      background-color: transparent;
      padding: 0 3.6rem 0.8rem 3.6rem;
      color: $white;

    }


    .input-search::placeholder {
      @include small;
      color: rgba($white, 0.5);
    }
  }

  &__search:before {
    content: "";
    position: absolute;
    left: 2.5rem;
    bottom: 3rem;
    @include littleButton;
    background: url('../images/whiteSearch.svg');
  }

  &__nav {
    padding-top: 3.7rem;

    ul {
      li {
        position: relative;
        justify-content: space-between;
        margin-bottom: 3.2rem;

        a {
          @include medium;
          text-decoration: none;
          color: $grey1;
          font-weight: 600;
        }

        .mobile-catalog,
        .mobile-about {
          background-color: transparent;
          border: none;
          padding: 0;
          @include medium;
          color: $grey1;
          font-weight: 600;
        }


        >a:active {
          color: $success;

        }

        .mobile-subnav__buttonContainer {
          width: 100%;
          justify-content: space-between;
        }

        .mobile-subnav__container {
          height: 0;
          overflow: hidden;
          transition: height 1s ease;

          .mobile-subnav {
            padding: 2.4rem;

            a {
              @include small;
              color: $grey1;
            }
          }
        }

        .subnav-catalog._open {
          height: 41rem;
        }

        .subnav-about._open {
          height: 20rem;
        }

      }

    }
  }
  &__footer{
    justify-content:space-between;
    padding-bottom: 3.2rem;
    a{
      @include medium;
      text-decoration:none;
      font-weight: 600;
      color:$warning;
    }
    .mobile-lang{
      @include littleButton;
      @include medium;
      color: $grey1;
      font-family: inherit;
    }
  }
}

.mobile-menu._open{
  max-height:106.6rem;
}