.catalog-subnav {

  &__menu {
    height: 270px;
    flex-direction: column;

    .catalog-subnav__item {
      padding: 2.4rem 0;

      a {
        @include medium;
        text-decoration: none;
        color: $grey1;
      }

      a:hover {
        color: $warning;
      }
    }
  }

}