.greetings-link {
  display: inline-block;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  background-color: $secondary;

  @media (max-width:$md3+px) {
    width: 100%;
    text-align: center;
    padding: 1.1rem;
  }

  a {
    @include small;
    font-weight: 600;
    color: $white;
    text-decoration: none;
  }
}