.product-button {
  @include large;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
  color: $grey1;
  font-family: 'MontserratAlt-Medium';


  &:hover {
    border-bottom: 2px solid $success;

  }
}